#Eclipse
*.launch
.buildpath
.classpath
.cproject
.factorypath
.project
.settings/
bin/

#JetBrains
*.iml
*.iws
.idea/
out/

#Mac
.DS_Store

#Maven
log/
target/

#NetBeans
nbproject/private/
nbbuild/
nbdist/
.nb-gradle/
nb-configuration.xml
nbactions.xml
